
body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    position: relative;
    width: 720px;
    height: 560px;
}

video, canvas {
    position: absolute;
    top: 0;
    left: 0;
}
